
<div id="">

  <h3>Contacts<small class="text-muted">4.0</small></h3>

  <!-- Action Buttons -->
  <button id="show-contact-button" class="btn-primary">Contacts</button>
  <button id="search-contact-button" class="btn-primary">Search Contacts</button>
  <button id="add-contact-button" class="btn-primary">Add Contact</button>
  <br><br>


  <!-- Show contacts -->
  <div id="show-contact">
    <h4>Contacts:</h4>
    <p id="contacts"></p>
  </div>
  <!-- End - show contacts -->


  <!-- Search by ID - to be completed -->
  <div id="search-contact">
  <input type="text" name="#" id="search-params" placeholder="Search by first name...">
  <button id="submit-search-button" class="btn-success">Search Contact!</button>
  </div>
  <!-- End - search by ID -->


  <!-- Add a new contact -->
  <div id="add-contact">
  <input type="text" id="firstname" placeholder="First Name...">
  <input type="text" id="lastname" placeholder="Last Name...">
  <input type="email" id="email" placeholder="Email...">
  <button id="submit-contact-button" class="btn-success">Add Contact!</button>
  </div>
  <!-- End - add new contact -->


</div>

<!-- <table>
<thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
  </tr>
</thead>
<tbody>
  <tr id="contacts">
    <td></td>
  </tr>
</tbody>
</table> -->



