
<div id="">

  <h1>Contacts 4.0</h1>
  <p>Enter a user ID below.</p>
  
  <input type="text" name="user_id" id="user_id" placeholder="Contact ID#...">
  
  <a href="#" id="submit-button">Pull Contact Data</a>
  
  <div id="ghapidata" class="clearfix"></div>

  <h2>Contacts</h2>
  <ul id="contacts"></ul>

</div>